.aboutPage {
  max-width: 1280px;
  margin: 2rem auto;
}

.aboutTitle {
  font-size: 4rem;
  font-weight: bolder;
}

.aboutWarn {
  color: red;
  font-weight: bolder;
  margin: 1rem 0rem;
}

.subtitle {
  font-size: large;
  margin: 1rem 0rem;
}

.backButton {
  padding: 0.5rem 1rem;
  color: #f4a261;
  background-color: #353535;
  font-weight: 900;
  border-radius: 1rem;
}
