@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Darker Grotesque;
  color: #353535;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

::selection {
  background-color: #f4a261;
}

::-webkit-scrollbar-thumb {
  background-color: #f4a261;
  border-radius: 1rem;
}

::-webkit-scrollbar {
  background-color: #d8d8d8;
  width: 0.5rem;
}
