.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: black;
  font-size: 6rem;
  font-weight: 900;
}

.title > span {
  color: #f4a261;
}

.subtitle {
  font-size: xx-large;
  margin-bottom: 3rem;
}

.btns > a {
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  border: none;
  outline: none;
  font-size: larger;
  font-weight: 900;
  background-color: #ebebeb;
}

.btns > a:hover {
  background: #f4a261;
  color: white;
  transition: all 0.2s;
}

.gTag {
  font-size: 2rem;
}
