.searchBar {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: larger;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: #ebebeb;
}

.books {
  margin-top: 2rem;
}

.loaderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.bookHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
  margin-top: 1rem;
}

/* =========================== */
/* Bookcard */
/* =========================== */

.bookCard {
  background-color: #ebebeb;

  border-radius: 1rem;
  height: 15rem;
  width: 12rem;
  margin: auto;
  padding: 1rem;

  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.details {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: transparent;
  color: white;
  right: 0;
  bottom: -20rem;
  transition: all 0.5s ease-in-out;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookCard:hover .details {
  bottom: 0;
  background-color: #f4a261;
  transform: scale(1.05);
  padding: 1rem;
}

.noImage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 1150px) {
  .bookgrid {
    grid-template-columns: repeat(4, 1fr);
  }
} */

/* @media (max-width: 900px) {
  .bookgrid {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* @media (max-width: 640px) {
  .bookgrid {
    grid-template-columns: repeat(1, 1fr);
  }
} */
