.nav {
  height: 4.5rem;
  background-color: transparent;
  color: #f4a261;
  left: 0;
  top: 0;
  z-index: 100;
}

.navWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
}

.brand {
  font-size: xx-large;
  font-weight: bolder;
}

.navOption {
  list-style: none;
  display: flex;
}

.navItem {
  margin: 0.5rem;
  font-weight: bold;
  color: #f4a261;
}

.colText {
  color: #f4a261;
}
